
/* CODE */
#em-breve {
    font-size: 10vw !important;
    font-family: url('Acumin-BdPro.woff');
    line-height: 1.2;
}
#title {
    font-size: 7vw !important;
    line-height: 1.2;
}


/* ADAPTED */
@media only screen and (max-width: 500px) {
    #em-breve {
        font-size: 14vw !important;
    }
    #title {
        font-size: 10vw !important;
    }
}


@media only screen and (max-width: 350px) {
    #em-breve {
        font-size: 18vw !important;
    }
    #title {
        font-size: 12vw !important;
    }
}

/* By Native Code */
#intro .intro-container {
    top: 0;
}